#root {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.title {
  font-family: "Hedvig Letters Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #F76F53;
}

em {
  font-family: "Hedvig Letters Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  color: #F76F53;
}

.subtitle {
  font-family: "Hedvig Letters Serif", serif;
  font-weight: 400;
  font-style: normal;
  word-spacing: 5px;
}

.description {
  font-family: "Hedvig Letters Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text-card-foreground {
  font-family: "Hedvig Letters Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
